<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.esboco">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Mato Escritores do Sul"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Esboco"
        tools:targetApi="31">
        <activity
            android:name=".ExibirTextoActivity"
            android:exported="false" />
        <activity
            android:name=".MainAcitivityRecyclerView"
            android:exported="false" />
        <activity
            android:name=".FavoritosActivity"
            android:exported="false" />
        <activity
            android:name=".ListagemTextosActivity"
            android:exported="false" />
        <activity
            android:name=".EditarTextoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".QuemSomosActivity"
            android:exported="false" />
        <activity
            android:name=".CriarTextoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".TelaProfessorActivity"
            android:exported="false" />
        <activity
            android:name=".TelaEstudanteActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".EsqueceuSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>